@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Colors */
  --foreground-rgb: 33, 15, 50; /* Darker purple for text */
  --background-start-rgb: 245, 222, 179; /* Light tan for background start */
  --background-end-rgb: 245, 222, 179; /* Light tan for background end */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --foreground-rgb: 245, 222, 179; /* Light tan for text */
    --background-start-rgb: 33, 15, 50; /* Darker purple for background */
    --background-end-rgb: 33, 15, 50; /* Darker purple for background */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  padding-top: env(safe-area-inset-top);
}

@media (max-width: 600px) {
  .safe-top {
    flex-direction: column;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

