@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Colors */
  --foreground-rgb: 50, 23, 77; /* Dark purple for text */
  --background-start-rgb: 245, 222, 179; /* Light tan for background start */
  --background-end-rgb: 245, 222, 179; /* Light tan for background end, adjust if you want a gradient */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --foreground-rgb: 245, 222, 179; /* Light tan for text */
    --background-start-rgb: 50, 23, 77; /* Dark purple for background */
    --background-end-rgb: 50, 23, 77; /* Dark purple for background, adjust if you want a gradient */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

